<div>
    <h6>Rides cost</h6>
    <%= summary.cost %> zl
</div>
<div>
    <h6>Distance traveled</h6>
    <%= summary.distance %> km
</div>
<div>
    <h6>Rides timespan</h6>
    <%= summary.timeString %>
</div>
